<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">

</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- End All Title Box -->
<div class="mainDiv">
  <div class="cardStyle">
    <h2 class="formTitle">
      <b>Personal Information</b>
    </h2>
    <div th:if="${success}" class="text-center alert alert-success">
      <p th:text="${success}"></p>
    </div>
    <form th:action="@{/update-profile}" method="post" name="signupForm" id="signupForm" enctype="multipart/form-data" th:object="${customer}">
      <div class="inputDiv">
        <label class="inputLabel" for="firstname"> First name * </label>
        <input type="text" id="firstname" th:field="*{firstName}" name="firstname" required>
      </div>
      <div class="alert alert-warning"
           th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
      <div class="inputDiv">
        <label class="inputLabel" for="lastname">Last name *</label>
        <input type="text" th:field="*{lastName}"
               id="lastname" name="lastname" required>
      </div>
      <div class="alert alert-warning"
           th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" required></div>
      <div class="inputDiv">
        <label class="inputLabel" for="username">User name *</label>
        <input type="text" th:field="*{username}"
               id="username" name="username" readonly>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="phoneNumber">Phone number *</label>
        <input type="number" th:field="*{phoneNumber}"
               th:placeholder="${customer.phoneNumber != null} ? ${customer.phoneNumber} : 'Enter your phone number'"
               id="phoneNumber" name="phonenumber" maxlength="15" minlength="10">
      </div>
      <div class="alert alert-warning"
           th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>

      <div class="inputDiv">
        <label class="inputLabel" for="address">Address *</label>
        <input type="text" th:field="*{address}"
               th:placeholder="${customer.address != null} ? ${customer.address} : 'Enter your address'"
               id="address" name="address">
      </div>
      <div class="inputDiv">
        <label class="inputLabel" for="country">Country *</label>
        <select class="form-control" id="country" th:field="*{country}" name="country" required>
          <option value="">-SELECT-</option>
          <option th:each="country : ${countries}"
                  th:value="${country.id}"
                  th:text="${country.name}">
          </option>
        </select>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="city">City *</label>
        <select class="form-control" id="city" th:field="*{city}" name="city" required>
          <option value="">-SELECT-</option>
          <option th:each="city : ${cities}"
                  th:value="${city.id}"
                  th:text="${city.name}">
          </option>
        </select>
      </div>

<hr/>

      <div class="buttonWrapper">
        <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
          <span>Save</span>
        </button>
        <a th:href="@{/change-password}" style="text-align: right;color: white; font-weight: bold; margin: 10px; padding: 15px; border-radius: 3px; background-color: #2c722f; "   >Change password</a>

      </div>


    </form>
  </div>
</div>
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="fragments::script">
</div>
</body>

</html>